body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 96%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.file-upload {
  margin-bottom: 20px;
}

.file-upload label {
  display: block;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-upload label:hover {
  background-color: #45a049;
}

.merge-button {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.merge-button:hover {
  background-color: #0056b3;
}

.select-files-button {
  display: block;
  width: 30%;
  padding: 15px;
  background-color: #ff0022;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.select-files-button:hover {
  background-color: #f53232;
}

.file-uploader {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  width: 30%;
  padding: 15px;
  background-color: #ff0022;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  font-size: small;
}

.custom-file-upload:hover {
  background-color: #f53232;
}
